html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  /* Removed fixed min-width and min-height because we will handle layout conditionally in App.tsx */
  background-color: #F0F4FF;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.dark {
  color-scheme: dark;
}
