html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.dark {
  color-scheme: dark;
}
ul, li {
  list-style: none !important;
  list-style-type: none !important;
  marker: none !important;
}